<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<header>
    <a href="/">Main page</a>
    <a href="/users">users</a>
    <a href="/add-user">add user</a>
    <a href="/questions">questions</a>
    <a href="/add-question">add question</a>
    <a href="/interviews">interviews</a>
    <a href="/add-interview">add interview</a>
    <a href="/grades">grades</a>
    <a href="/add-grade">add grade</a>
</header>
{% block content %}

{% endblock %}
</body>
</html>