{% extends "base.html" %}

{% block title %}
Cart
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Image</th>
      <th scope="col">Cost</th>
      <th scope="col">qnt</th>
        <th scope="col">Final Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
{% for i in cart.products.all %}
  <tbody>
    <tr>
      <th scope="row">{{ i.product.title }}</th>
      <td class="w-25">
        {% if i.product.image %}
            <img class="img-fluid" src="{{ i.product.image.url }}" width="100%">
        {% else %}
            <img class="img-fluid" src="https://zenit.by/images/no_photo.png" width="100%">
        {% endif %}</td>
        </td>
        <td class="w-25">{{ i.product.price }}</td>
      <td class="w-25">
        <form action="{% url 'add_to_cart_page' %}" method="POST">
            {% csrf_token %}
            <input name="slug" value="{{ i.product.slug }}" type="hidden">
            <input type="submit" value="^" class="btn btn-danger">
        </form>
        <form action="{% url 'change_qty' %}" method=POST>
          {% csrf_token %}
          <input name="slug" value="{{ i.product.slug }}" type="hidden">
            <input name="cart" value="{{ cart }}" type="hidden">
        <input required="required" type="number" min="1" name="qty" value="{{ i.qty }}">
        </form>
        <form action="{% url 'remove_cart_product' %}" method="POST">
            {% csrf_token %}
            <input name="slug" value="{{ i.product.slug }}" type="hidden">
            <input name="cart" value="{{ cart }}" type="hidden">
            <input type="submit" value="v" class="btn btn-danger">
        </form>
      </td>
      <td class="w-25">{{ i.final_price }}</td>
    </tr>
{% endfor %}
  <tbody>
    <tr>
      <th scope="row"></th>
      <td class="w-25"></td>
      <td class="w-25"></td>
        <td class="w-25">Total Price:</td>
      <td class="w-25">{{ cart.final_price }}</td>
      <td class="w-25"><a href="{% url 'checkout' %}" class="btn btn-primary">Make order</a></td>
    </tr>
</table>
{% endblock %}
<!--<img class="img-fluid" src="-->
<!--                            {% if product.image %}-->
<!--                                {{ product.image.url }}-->
<!--                            {% else %}-->
<!--                                https://zenit.by/images/no_photo.png-->
<!--                            {% endif %}-->
<!--                            ">-->