{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Order{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Image</th>
      <th scope="col">Cost</th>
      <th scope="col">qnt</th>
        <th scope="col">Final Price</th>
    </tr>
  </thead>
  <tbody>
{% for i in cart.products.all %}
    <tr>
      <th scope="row">{{ i.product.title }}</th>
      <td class="w-25">
        {% if i.product.image %}
            <img class="img-fluid" src="{{ i.product.image.url }}" width="100%">
        {% else %}
            <img class="img-fluid" src="https://zenit.by/images/no_photo.png" width="100%">
        {% endif %}</td>
        </td>
        <td class="w-25">{{ i.product.price }}</td>
      <td class="w-25">{{ i.qty }}</td>
      <td class="w-25">{{ i.final_price }}</td>
     </tr>
{% endfor %}
    <tr>
      <th scope="row"></th>
      <td class="w-25"></td>
      <td class="w-25"></td>
        <td class="w-25">Total Price:</td>
      <td class="w-25">{{ cart.final_price }}</td>
    </tr>
</tbody>
</table>
    <hr>
    <h3 class="text-center mt-5 mb-5">Order form</h3>
    <form action="{% url 'make_order' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success btn-block btn-lg mt-3 mb-3" value="Make Order">
    </form>
{% endblock %}